.box {
  background-color: lighten($grey, 80%);
  padding: $spacing;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.box-error {
  background-color: lighten($red, 80%);
}
