/*
Compact list styles
====================================================================== */

.list-short {
  overflow: hidden;

  dt {
    float: left;
    clear: left;
    margin-right: $spacing;
    font-weight: bold;
  }
}
