/*
Compact list styles
====================================================================== */

.list-short {
  overflow: hidden;

  dt {
    display: inline-block;
    margin-right: $spacing;
    font-weight: bold;
  }

  dd {
    display: inline-block;
    margin-right: $spacing;
    margin-left: 0;
  }
}
