.panel {
  position: relative;
  border: 1px solid #000;
  padding: $spacing;

  :first-child,
  :first-child :first-child {
    margin-top: 0;
  }
}

.panel-actions {
  position: absolute;
  top: $spacing;
  right: $spacing;
}
