/*
Variables
====================================================================== */


/*
Colors
---------------------------------------------------------------------- */


/*
Grid & Spacing
---------------------------------------------------------------------- */
$spacing = 20px;
$form-spacing = 5px;

/*
Breakpoints & Media Queries
---------------------------------------------------------------------- */


/*
Animations
---------------------------------------------------------------------- */


/*
Paths
---------------------------------------------------------------------- */
$path-to-fonts = '/assets/fonts/';

/*
Fonts
---------------------------------------------------------------------- */
$font-weight-light = 200;
$font-family-site = 'Open Sans', Arial, sans-serif;
$font-family-tiny = 'Helvetica', Arial, sans-serif;
$font-family-code-block = Consolas, Monaco, 'Andale Mono', monospace;
$font-family-code-inline = Consolas, "Liberation Mono", Courier, monospace;
