/*
Variables
====================================================================== */

$font-heading = 30px;

/*
Colors
---------------------------------------------------------------------- */
$red = #ea3b28;
$yellow = #ffcb00;
$green = #70a300;
$blue = #0095dd;
$grey = #c7ccce;
$orange = #c55200;

/*
Grid & Spacing
---------------------------------------------------------------------- */
$spacing = 20px;
$form-spacing = 5px;

/*
Breakpoints & Media Queries
---------------------------------------------------------------------- */


/*
Animations
---------------------------------------------------------------------- */


/*
Paths
---------------------------------------------------------------------- */
$path-to-fonts = '/assets/fonts/';

/*
Fonts
---------------------------------------------------------------------- */
$font-weight-light = 200;
$font-family-site = 'Open Sans', Arial, sans-serif;
$font-family-tiny = 'Helvetica', Arial, sans-serif;
$font-family-code-block = Consolas, Monaco, 'Andale Mono', monospace;
$font-family-code-inline = Consolas, "Liberation Mono", Courier, monospace;
