{{browsers/browser-form
  browser=model
  saveBrowser=(action "saveBrowser" model)}}

{{outlet}}


{{#if session.isAuthenticated}}

<h1>New Version</h1>

{{browsers/version-form
  version=model
  saveVersion=(action "addVersion" model)}}

{{/if}}