<h1>Browsers</h1>

<ul>
{{#each model as |browser|}}
  <li>
  {{#link-to 'browsers.browser.versions' browser}}
    {{browser.name.en}}
  {{/link-to}}
  </li>
{{/each}}
</ul>

{{#link-to 'browsers.new'}}Add browser{{/link-to}}

