/*
Styles for overall document.
====================================================================== */

html,
body {
  height: 100%;
  font-family: $font-family-site;

  /* normalize */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

