/*
Forms
====================================================================== */

button,
input,
optgroup,
select,
textarea {
  font-size: inherit;
  /* normalize */
  margin: 0;
  font-family: inherit;
}

button {
  /* normalize */
  overflow: visible;
}

button,
select {
  /* normalize */
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  /* normalize */
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  /* normalize */
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* normalize */
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  /* normalize */
  outline: 1px dotted ButtonText;
}

input {
  /* normalize */
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  /* normalize */
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* normalize */
  height: auto;
}

input[type="search"] {
  /* normalize */
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  /* normalize */
  -webkit-appearance: none;
}

fieldset {
  /* normalize */
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  /* normalize */
  border: 0;
  padding: 0;
}

textarea {
  /* normalize */
  overflow: auto;
}

optgroup {
  /* normalize */
  font-weight: bold;
}
