/*

====================================================================== */

figcaption,
figure {
  /* normalize */
  display: block;
}

figure {
  /* normalize */
  margin: 1em 40px;
}

audio,
canvas,
progress,
video {
  /* normalize */
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  /* normalize */
  display: none;
  height: 0;
}

img {
  /* normalize */
  border: 0;
}


svg:not(:root) {
  /* normalize */
  overflow: hidden;
}
