

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-light;
}

a {
  /* normalize */
  background-color: transparent;
}

a:active,
a:hover {
  /* normalize */
  outline: 0;
}

abbr[title] {
  /* normalize */
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  /* normalize */
  font-weight: bolder;
}

dfn {
  /* normalize */
  font-style: italic;
}

h1 {
  /* normalize */
  font-size: 2em;
  margin: 0.67em 0;
}

pre {
  /* normalize */
  overflow: auto;
}

code,
kbd,
pre,
samp {
  /* normalize */
  font-family: monospace, monospace;
  font-size: 1em;
}

mark {
  /* normalize */
  background-color: #ff0;
  color: #000;
}

small {
  /* normalize */
  font-size: 80%;
}

sub,
sup {
  /* normalize */
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  /* normalize */
  top: -0.5em;
}

sub {
  /* normalize */
  bottom: -0.25em;
}

